*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content{
    background-color: ghostwhite;
}

.error-404{
    font-family: 'Teko', sans-serif;
    color: black;
    font-size: 105px;
    text-align: center;
    letter-spacing: 1px;
    padding: 15px;
}

.error-404-p{
    font-family: 'Teko', sans-serif;
    color: black;
    font-size: 75px;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 50px;
    padding: 15px;
}

